body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: large;
  line-height: 2;
}
/* Force reliable box sizing across browsers */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h2 a,
h3 a,
h2 a:hover,
h3 a:hover {
  text-decoration: none;
}
.viewsreference-title {
  font-size: 30px;
  font-weight: 800;
  margin-top: 20px;
  margin-bottom: 10px;
}

blockquote {
  font-size: inherit;
}
p {
  margin-bottom: 1em;
}

.feed-icons {
  display: block;
  width: 100%;
  clear: both;
  text-align: left;
}

/* Float tags */
.field--name-field-tags div.field--item {
  display: inline-block;
  margin-right: 1em;
}

hr {
  height: 12px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

.navbar-nav li:hover {
  background-color: #eee;
}

/* Styling for card display mode */
.card-item:hover {
  opacity: .9;
}
.card-item:hover .card-title {
  margin: 0;
  background-color:rgba(0,0,0,0.1);
}
.card-title h3 {
  margin: 0;
  padding: .5em;
}
.card-item {
  margin-bottom: 1em;
}

/* Styling for "image" display mode */
/* Overlay the text on top of the image */
.image-background-text {
  padding: 5em;
}
.image-background-text-inner {
  padding: 2em;
  background-color:rgba(255,255,255,0.8);
  color: #000;
}

/* Styling for the "feature text" display mode */
/* Pull quotes and featured text */
.content.feature-text {
  background-color: #337ab7;
  color: #fff;
  text-align: center;
  margin-bottom: 1em;
}
/* Add space for the floated Read more element to be contained */
.content.feature-text .feature-text-text-inner {
  padding-bottom: 4em;
}
.content.feature-text h2 {
  display: none;
}
.content.feature-text a {
  color: #dedede;
  text-decoration: none;
}
.content.feature-text a:hover {
  color: #fff;
  text-decoration: none;
}
.content.feature-text .field--items,
.content.feature-text ul {
  width: 95%;
  margin: 0 auto;
  font-size: 2em;
}

/* Styling for paragraphs */
.paragraph--type--view,
.paragraph--type--grid {
  margin-top: 2em;
  margin-bottom: 2em;
}

/* Styling for Views bootstrap carousel */
.carousel-caption {
  background-color:rgba(255,255,255,0.8);
  color: #000;
  text-align: left;
  text-shadow: 0 rgba(0, 0, 0, .6);
  line-height: 1em;
  padding: 5%;
  height: 50%;
}

/* Styling for teaser field on the node page */
article.full .field--name-field-teaser-140,
article.factoid .field--name-field-teaser-140 {
  background-color: #337ab7;
  color: #fff;
  font-size: 2em;
  text-align: center;
  margin-bottom: 1em;
}
article.full .field--name-field-teaser-140 .field--item
article.factoid .field--name-field-teaser-140 .field--item {
  width: 90%;
  margin: 0 auto;
  font-style: italic;
}

/* Styling for frontpage view */
.view-frontpage1 .views-row:nth-child(even) .field--name-field-image {
  float: left;
}
.view-frontpage1 .views-row:nth-child(odd) .field--name-field-image {
  float: right;
}
.view-frontpage1 .views-row:nth-child(even) article {
  background-color: #eee;
  padding-bottom: 1em;
}
.view-frontpage1 .views-row:nth-child(odd) article {
  background-color: #fff;
  padding-bottom: 1em;
}

/*Social Media*/
.region-navigation .social-media-wrapper {
  float: right;
}
.region-navigation .social-media {
  text-align: right;
}
.social-media > a {
  position: relative;
  top: 10px;
  width: 32px;
  height: 32px;
  background: #337ab7;
  display: inline-block;
  border-radius: 32px;
  -moz-border-radius: 32px 32px 32px 32px;
  -webkit-border-radius: 32px 32px 32px 32px;
  color: #fff;
  margin: 1px;
}
.social-media > a > .fa {
  position: absolute;
  left: 32%;
  top: 30%;
  font-size: 14px;
}
.social-media .icon-twitter:hover {
  background: #00aced;
  color: #fff;
}
.social-media .icon-facebook:hover {
  background: #3b5998;
  color: #fff;
}
.social-media .icon-gplus:hover {
  background: #dd4b39;
  color: #fff;
}
.social-media .icon-linkedin:hover {
  background: #0274b3;
  color: #fff;
}
.social-media .icon-youtube:hover {
  background: #e12b28;
  color: #fff;
}
@media (max-width: 1199px) {
  .region-navigation .social-media-wrapper {
    display: none;
  }
}
